<!DOCTYPE html>
<html>
  <head>
    <title>Manage your daily to-do list!</title>
    <link rel="stylesheet" type="text/css" href="href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
