<h1>Make a new list</h1>

<form action="/additem" method="post">
  <div class="form-group">
    <label for="name">What would you like to name your list?</label>
      <input id="name" name="name" class="form-control" type="text">
  </div>
  <div class='form-group'>
    <button type"submit" class="btn-success">Submit</button>
  </div>
</form>
