<h1>You have successfully added a new item to the list:</h1>

<h3>Task: <%= @task.description() %></h3>
<h3>Due date: <%= @task.due_date() %></h3>

<a href="/additem">Add another item to this list.</a>
<br>
<a href="/">See all of your lists.</a>
